body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    padding: 20px;
    margin: 10px;
}
.grid-box {
    display: flex;
    gap: 5px;
    background-color: black;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.row {
    height: 100px;
    width: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}